// VARIABLES
$primary-color: #d95330;
$secondary-color: #999;
$tertiary-color: #ccc;
$error-color: #a94442;
$white: #fff;
$fb-color: #3b5998;
$gl-color: #dd4b39;
$primary-font: 'Montserrat', sans-serif;

// Reset style

.form-control--error {

  &:focus {
    border-color: $error-color;
  }
}

// Widget login style
.w-login {
  display: block;
  margin: 0 auto 3rem;
  max-width: 750px;

  &__form {
    border: 1px solid $secondary-color;
    border-radius: 4px;
    font-family: $primary-font;
    margin: 1rem;
    padding: 1rem;

    @media screen and(min-width: 1024px) {
      padding: 2rem;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto 2rem;
    max-width: 200px;
  }

  &__divider {
    margin-bottom: 1rem;
    position: relative;
    width: 100%;

    .divider-title {
      display: block;
      margin: 0 auto;
      max-width: 20%;
      text-align: center;
    }

    &::before {
      background-color: $tertiary-color;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 10px;
      width: 40%;
    }

    &::after {
      background-color: $tertiary-color;
      content: '';
      height: 1px;
      position: absolute;
      right: 0;
      top: 10px;
      width: 40%;
    }
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0 0 3rem;
    text-align: center;

    &--error {
      color: $error-color;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }

  &__label {
    color: $primary-color;

    &--link {
      color: $secondary-color;
    }
  }

  &__fb-button {
    background-color: $fb-color;
    border: 0;
    border-radius: 4px;
    color: $white;
    display: block;
    margin: 0 auto 2rem;
    padding: .5rem 0 .25rem;
    width: 75%;

    @media screen and (min-width: 1024px) {
      width: 35%;
    }
  }

  &__gl-button {
    @extend .w-login__fb-button;
    background-color: $gl-color;
  }

  &__btn-label {
    display: inline-block;
    margin: 0 0 0 .5rem;
    vertical-align: super;
  }
}

.custom-link {
  color: $secondary-color;
  opacity: .75;
  text-decoration: none;
  transition: all .3s;

  &--block-right {
    display: block;

    @media screen and (min-width: 1024px) {
      float: right;
    }
  }

  &:hover {
    color: $primary-color;
    opacity: 1;
  }

  &--bolded {
    font-weight: 700;
  }
}

.signup-block {
  margin: 0;
  text-align: center;
}


// Reset classes

.p-0 {
  padding: 0 !important;
}
