.form-control--error:focus {
  border-color: #a94442;
}

.w-login {
  display: block;
  margin: 0 auto 3rem;
  max-width: 750px;
}

.w-login__form {
  border: 1px solid #999;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .w-login__form {
    padding: 2rem;
  }
}

.w-login__logo {
  display: block;
  margin: 0 auto 2rem;
  max-width: 200px;
}

.w-login__divider {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.w-login__divider .divider-title {
  display: block;
  margin: 0 auto;
  max-width: 20%;
  text-align: center;
}

.w-login__divider::before {
  background-color: #ccc;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 40%;
}

.w-login__divider::after {
  background-color: #ccc;
  content: '';
  height: 1px;
  position: absolute;
  right: 0;
  top: 10px;
  width: 40%;
}

.w-login__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 3rem;
  text-align: center;
}

.w-login__title--error {
  color: #a94442;
}

.w-login__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.w-login__label {
  color: #d95330;
}

.w-login__label--link {
  color: #999;
}

.w-login__fb-button, .w-login__gl-button {
  background-color: #3b5998;
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: block;
  margin: 0 auto 2rem;
  padding: .5rem 0 .25rem;
  width: 75%;
}

@media screen and (min-width: 1024px) {
  .w-login__fb-button, .w-login__gl-button {
    width: 35%;
  }
}

.w-login__gl-button {
  background-color: #dd4b39;
}

.w-login__btn-label {
  display: inline-block;
  margin: 0 0 0 .5rem;
  vertical-align: super;
}

.custom-link {
  color: #999;
  opacity: .75;
  text-decoration: none;
  transition: all .3s;
}

.custom-link--block-right {
  display: block;
}

@media screen and (min-width: 1024px) {
  .custom-link--block-right {
    float: right;
  }
}

.custom-link:hover {
  color: #d95330;
  opacity: 1;
}

.custom-link--bolded {
  font-weight: 700;
}

.signup-block {
  margin: 0;
  text-align: center;
}

.p-0 {
  padding: 0 !important;
}
